In [1]:
"""
File name: read_data.py
Author: ImportNumpyAsPd
Date created: 31/10/2024
Date last modified: 31/10/2024
"""

'\nFile name: read_data.py\nAuthor: ImportNumpyAsPd\nDate created: 31/10/2024\nDate last modified: 31/10/2024\n'

In [2]:
# some basic imports
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#path data 
data_path_CMU = './data/CMU/'
data_path_IMDb = './data/IMDb/'

#Names of columns for the data CMU
NAMES_MOVIES = ['Wikipedia movie ID','Freebase movie ID','Movie name','Movie release date','Movie box office revenue','Movie runtime','Movie languages','Movie countries','Movie genres']
NAMES_CHARACTER = ['Character Name','Actor DOB','Actor gender','Actor height','Actor ethnicity','Actor Name','Actor age at movie release','Freebase character/actor map ID', 'Freebase character ID', 'Freebase actor ID']

#Names of columns for the data IMDb
NAMES_BASICS = ['IMDb director ID', 'Name of the director']
NAMES_BASICS_2 = ['IMDb title ID', 'Type', 'Primary title', 'Original title']
NAMES_CREW = ['IMDb title ID','IMDb director ID', 'IMDb writers ID']

#Read data CMU 
df_CMU_character = pd.read_csv(data_path_CMU+'character.metadata.tsv', sep='\t', names = NAMES_CHARACTER, header = None)
df_CMU_movies = pd.read_csv(data_path_CMU+'movie.metadata.tsv', sep='\t', names = NAMES_MOVIES, header = None)

#Read data IMDb
df_IMDb_name = pd.read_csv(data_path_IMDb+'name.basics_Movie.tsv', sep='\t', names = NAMES_BASICS, header = None)
df_IMDb_basics = pd.read_csv(data_path_IMDb+'title.basics_Movie.tsv', sep='\t', names = NAMES_BASICS_2, header = None)
df_IMDb_crew = pd.read_csv(data_path_IMDb+'title.crew_Movie.tsv', sep='\t', names = NAMES_CREW, header = None)
df_IMDb_ratings = pd.read_csv(data_path_IMDb+'title.ratings.tsv', sep='\t')
df_IMDb_ratings.rename(columns={'tconst': 'IMDb title ID'}, inplace=True)

#Name of the datasets
datasets = ['df_CMU_character','df_CMU_movies','df_IMDb_name','df_IMDb_basics','df_IMDb_crew',
            'df_IMDb_ratings']
#Make it a dictionary
df_all = {'df_CMU_character': df_CMU_character,'df_CMU_movies': df_CMU_movies,
          'df_IMDb_name': df_IMDb_name,'df_IMDb_basics': df_IMDb_basics,
          'df_IMDb_crew': df_IMDb_crew,'df_IMDb_ratings': df_IMDb_ratings}

In [4]:
#note 

#y a des colonnes qui ont des entrÃ©es 'str', d'autre 'int', etc 
#a voir s'il faut clean up les datas, genre movie id wiki c'est en 'int' et peut etre 
#c'est mieux en 'str'

#aussi on a des multi-index sur character dataset-> a voir si on veut les tejs ou pas
#Si on veut tej
#NAMES_CHARACTER = ['Wikipedia movie ID','Freebase movie ID','Movie release date','Character Name','Actor DOB','Actor gender','Actor height','Actor ethnicity','Actor Name','Actor age at movie release','Freebase character map', 'Unknown1', 'Unknown2']
#df_character = pd.read_csv(data_path+'character.metadata.tsv', sep='\t', names = NAMES_CHARACTER, index_col= False, header = None)

In [5]:
df_CMU_character.head()

                                         Character Name   Actor DOB  \
975900 /m/03vyhn 2001-08-24                    Akooshay  1958-08-26
                 2001-08-24  Lieutenant Melanie Ballard  1974-08-15
                 2001-08-24         Desolation Williams  1969-06-15
                 2001-08-24          Sgt Jericho Butler  1967-09-12
                 2001-08-24             Bashira Kincaid  1977-09-25

                            Actor gender  Actor height Actor ethnicity  \
975900 /m/03vyhn 2001-08-24            F         1.620             NaN
                 2001-08-24            F         1.780      /m/044038p
                 2001-08-24            M         1.727         /m/0x67
                 2001-08-24            M         1.750             NaN
                 2001-08-24            F         1.650             NaN

                                     Actor Name  Actor age at movie release  \
975900 /m/03vyhn 2001-08-24      Wanda De Jesus                        42.0
                 2001-08-24  Natasha Henstridge                        27.0
                 2001-08-24            Ice Cube                        32.0
                 2001-08-24       Jason Statham                        33.0
                 2001-08-24         Clea DuVall                        23.0

                            Freebase character/actor map ID  \
975900 /m/03vyhn 2001-08-24                      /m/0bgchxw
                 2001-08-24                       /m/0jys3m
                 2001-08-24                       /m/0jys3g
                 2001-08-24                      /m/02vchl6
                 2001-08-24                      /m/02vbb3r

                            Freebase character ID Freebase actor ID
975900 /m/03vyhn 2001-08-24            /m/0bgcj3x        /m/03wcfv7
                 2001-08-24            /m/0bgchn4         /m/0346l4
                 2001-08-24            /m/0bgchn_        /m/01vw26l
                 2001-08-24            /m/0bgchnq         /m/034hyc
                 2001-08-24            /m/0bgchp9         /m/01y9xg

In [6]:
df_CMU_movies.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [7]:
df_IMDb_name.head()

  IMDb director ID Name of the director
0        nm0000005       Ingmar Bergman
1        nm0000010         James Cagney
2        nm0000018         Kirk Douglas
3        nm0000019     Federico Fellini
4        nm0000032      Charlton Heston

In [8]:
df_IMDb_basics.head()

,IMDb title ID,Type,Primary title,Original title
0,tt0000009,movie,Miss Jerry,Miss Jerry
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight
2,tt0000502,movie,Bohemios,Bohemios
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue

In [9]:
df_IMDb_crew.head()

  IMDb title ID IMDb director ID                IMDb writers ID
0     tt0000009        nm0085156                      nm0085156
1     tt0000147        nm0714557                             \N
2     tt0000502        nm0063413  nm0063413,nm0657268,nm0675388
3     tt0000574        nm0846879                      nm0846879
4     tt0000591        nm0141150                      nm0141150

In [10]:
df_IMDb_ratings.head()

  IMDb title ID  averageRating  numVotes
0     tt0000001            5.7      2096
1     tt0000002            5.6       282
2     tt0000003            6.5      2110
3     tt0000004            5.4       182
4     tt0000005            6.2      2843

In [11]:
# printing the size and shape of the different dataframes :
for name, df_i in df_all.items():
    print(f"Name of the dataframe : {name}, its size : {df_i.size}, its shape : {df_i.shape}")

Name of the dataframe : df_CMU_character, its size : 4506690, its shape : (450669, 10)
Name of the dataframe : df_CMU_movies, its size : 735669, its shape : (81741, 9)
Name of the dataframe : df_IMDb_name, its size : 413024, its shape : (206512, 2)
Name of the dataframe : df_IMDb_basics, its size : 2783768, its shape : (695942, 4)
Name of the dataframe : df_IMDb_crew, its size : 2039205, its shape : (679735, 3)
Name of the dataframe : df_IMDb_ratings, its size : 4480260, its shape : (1493420, 3)

In [12]:
#create a function to merge two dataset
def merging(df1, df2, HOW ='inner') : 
    return pd.merge(df1, df2, how = HOW)

In [13]:
first_merge = merging(df_IMDb_crew, df_IMDb_name)

In [14]:
second_merge = merging(first_merge, df_IMDb_basics)

In [15]:
third_merge = merging(second_merge, df_IMDb_ratings)

In [16]:
third_merge['IMDb title ID'].is_unique

True

In [17]:
third_merge.shape

(285031, 9)

In [18]:
third_merge.head()

,IMDb title ID,IMDb director ID,IMDb writers ID,Name of the director,Type,Primary title,Original title,averageRating,numVotes
0,tt0000009,nm0085156,nm0085156,Alexander Black,movie,Miss Jerry,Miss Jerry,5.4,215
1,tt0000147,nm0714557,\N,Enoch J. Rector,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,5.2,538
2,tt0000502,nm0063413,"nm0063413,nm0657268,nm0675388",Ricardo de BaÃ±os,movie,Bohemios,Bohemios,4.4,18
3,tt0000574,nm0846879,nm0846879,Charles Tait,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,6.0,937
4,tt0000591,nm0141150,nm0141150,Michel CarrÃ©,movie,The Prodigal Son,L'enfant prodigue,5.7,28

In [19]:
df_CMU_movies[df_CMU_movies['Movie name']=='Mirage']

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
28186,14833861,/m/03gzj9z,Mirage,1965,NaN,109.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/02n4kr"": ""Myster..."
81719,20244619,/m/04_0j2b,Mirage,1972,NaN,82.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/016wzw"": ""Peru""}","{""/m/07s9rl0"": ""Drama"", ""/m/03q4nz"": ""World ci..."

In [20]:
#find if any duplicates movie names
dup = df_CMU_movies[df_CMU_movies.duplicated(subset = 'Movie name', keep = False)]
dup

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen..."
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant..."
13,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa..."
24,31983669,/m/0g4_n3m,Road to Life,1931-09-30,NaN,104.0,"{""/m/06b_j"": ""Russian Language""}","{""/m/05vz3zq"": ""Soviet Union""}","{""/m/07s9rl0"": ""Drama""}"
43,26878691,/m/0f400r,Mysterious Island,1982,NaN,100.0,"{""/m/0653m"": ""Standard Mandarin""}","{""/m/03h64"": ""Hong Kong""}","{""/m/03btsm8"": ""Action/Adventure"", ""/m/08322"":..."
...,...,...,...,...,...,...,...,...,...
81716,25919941,/m/0b6lqy1,The Kreutzer Sonata,2008,NaN,99.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/068d7h"": ""Romantic drama"", ""/m/02l7c8"": ""..."
81719,20244619,/m/04_0j2b,Mirage,1972,NaN,82.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/016wzw"": ""Peru""}","{""/m/07s9rl0"": ""Drama"", ""/m/03q4nz"": ""World ci..."
81727,24209227,/m/07k5mlk,"The Time, the Place and the Girl",1946,NaN,105.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/05p553"": ""Comedy film"", ""/m/02l7c8"": ""Rom..."
81733,23851782,/m/06_vb43,The Ghost Train,1941-05-03,NaN,82.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th..."
81734,12095128,/m/02vppbd,My Love,NaN,NaN,26.0,"{""/m/06b_j"": ""Russian Language""}","{""/m/06bnz"": ""Russia""}","{""/m/02hmvc"": ""Short Film""}"

In [21]:
copy = df_CMU_movies.copy()

In [22]:
copy.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [23]:
#test 
import string 

table = str.maketrans('', '', string.punctuation)
copy['Movie_name'] = copy['Movie name'].apply(lambda r: r.lower().translate(table).replace(' ',''))

In [24]:
copy.sample(5)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Movie_name
74378,31803110,/m/064mm1g,Magadheera,2009-07-30,NaN,166.0,"{""/m/07c9s"": ""Tamil Language"", ""/m/09s02"": ""Te...","{""/m/03rk0"": ""India""}","{""/m/03q4nz"": ""World cinema"", ""/m/03btsm8"": ""A...",magadheera
9016,17373490,/m/043jv8c,Next Stop Paradise,1980-11-17,NaN,91.0,"{""/m/0295r"": ""Danish Language""}","{""/m/0k6nt"": ""Denmark""}","{""/m/07s9rl0"": ""Drama""}",nextstopparadise
73039,1261599,/m/04n36t,Ossessione,1943,NaN,112.0,"{""/m/02bjrlw"": ""Italian Language""}","{""/m/03rjj"": ""Italy""}","{""/m/03q4nz"": ""World cinema"", ""/m/0hj3n01"": ""C...",ossessione
74462,29869234,/m/0b3y2_6,The Brigand,1952-06-25,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02l7c8"": ""Romance Film"", ""/m/03k9fj"": ""Ad...",thebrigand
74199,32321233,/m/0gytspr,Lal Dupatta Malmal Ka,1989,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/068d7h"": ""Romantic drama""}",laldupattamalmalka

In [25]:
copy_2 = third_merge.copy()

In [26]:
copy_2.head()

,IMDb title ID,IMDb director ID,IMDb writers ID,Name of the director,Type,Primary title,Original title,averageRating,numVotes
0,tt0000009,nm0085156,nm0085156,Alexander Black,movie,Miss Jerry,Miss Jerry,5.4,215
1,tt0000147,nm0714557,\N,Enoch J. Rector,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,5.2,538
2,tt0000502,nm0063413,"nm0063413,nm0657268,nm0675388",Ricardo de BaÃ±os,movie,Bohemios,Bohemios,4.4,18
3,tt0000574,nm0846879,nm0846879,Charles Tait,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,6.0,937
4,tt0000591,nm0141150,nm0141150,Michel CarrÃ©,movie,The Prodigal Son,L'enfant prodigue,5.7,28

In [27]:
copy_2['Original title']=copy_2['Original title'].astype(str)

In [28]:

copy_2['Movie_name'] = copy_2['Original title'].apply(lambda r: r.lower().translate(table).replace(' ',''))

In [29]:
copy_2.sample(5)

,IMDb title ID,IMDb director ID,IMDb writers ID,Name of the director,Type,Primary title,Original title,averageRating,numVotes,Movie_name
125530,tt0446602,nm0661001,"nm0661001,nm1977469,nm1977996",Fausto Paravidino,movie,Texas,Texas,5.8,298,texas
212565,tt2527566,nm2286193,\N,Marlene Edoyan,movie,Figure d'armen,Figure d'armen,7.8,7,figuredarmen
18277,tt0043898,nm0936823,"nm0218626,nm0852338,nm0629237",William Witney,movie,Pals of the Golden West,Pals of the Golden West,6.0,94,palsofthegoldenwest
234505,tt3502826,nm0996471,nm0996471,Samuel Benchetrit,movie,A Journey,Un voyage,4.4,23,unvoyage
42781,tt0082659,nm0775573,"nm0474039,nm0018467,nm0503542,nm4510375",Werner Schroeter,movie,Liebeskonzil,Liebeskonzil,6.7,49,liebeskonzil

In [30]:
final_merge = pd.merge(copy, copy_2, on = 'Movie_name')

In [31]:
final_merge.sample(5)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Movie_name,IMDb title ID,IMDb director ID,IMDb writers ID,Name of the director,Type,Primary title,Original title,averageRating,numVotes
3011,12502952,/m/02w99lf,Twelfth Night,1956-03-03,NaN,90.0,"{""/m/06b_j"": ""Russian Language""}","{""/m/05vz3zq"": ""Soviet Union""}","{""/m/01z4y"": ""Comedy""}",twelfthnight,tt6599046,nm1446172,"nm8820674,nm1446172,nm0000636",Ned Record,movie,Royal Shakespeare Company: Twelfth Night,Twelfth Night,6.6,20
35347,4710858,/m/0cjlbq,W,1974-06,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/09blyk"": ""Psycho...",w,tt1175491,nm0000231,nm0007140,Oliver Stone,movie,W.,W.,6.3,50420
23289,1343342,/m/04v8x9,Ben-Hur,1959-11-18,146900000.0,219.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/03g3w"": ""History"", ""/m/02l7c8"": ""Romance ...",benhur,tt0052618,nm0943758,"nm0908753,nm0876562,nm0000683,nm0027173,nm0067...",William Wyler,movie,Ben-Hur,Ben-Hur,8.1,257427
71278,15838860,/m/03nwz56,Static,1986-09-10,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01t_vv"": ""Comedy-d...",static,tt15420946,nm6400690,"nm12933939,nm6400690",Kendrick Simmons,movie,Static,Static,8.6,5
58477,382387,/m/021s41,Gremlins,1984-06-08,153083102.0,106.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"":...","{""/m/09c7w0"": ""United States of America""}","{""/m/03npn"": ""Horror"", ""/m/0hj3m_q"": ""Creature...",gremlins,tt0087363,nm0001102,nm0001060,Joe Dante,movie,Gremlins,Gremlins,7.3,253798

In [32]:
final_merge.shape

(79152, 19)

In [33]:
copy.shape

(81741, 10)

In [34]:
copy_2.shape

(285031, 10)

In [38]:
#find if any duplicates movie names
dupli = final_merge[final_merge.duplicated(subset = 'Wikipedia movie ID', keep = False)]
dupli

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Movie_name,IMDb title ID,IMDb director ID,IMDb writers ID,Name of the director,Type,Primary title,Original title,averageRating,numVotes
4,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",thesorcerersapprentice,tt0120166,nm0514247,nm3694845,David Lister,movie,The Sorcerer's Apprentice,The Sorcerer's Apprentice,4.2,737
5,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",thesorcerersapprentice,tt0963966,nm0005509,"nm0465199,nm0742797,nm2188941,nm1215164,nm0076166",Jon Turteltaub,movie,The Sorcerer's Apprentice,The Sorcerer's Apprentice,6.1,171781
9,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",henryv,tt0097499,nm0000110,"nm0000636,nm0000110",Kenneth Branagh,movie,Henry V,Henry V,7.5,32069
10,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",henryv,tt0353529,nm0310031,nm0000636,Neal J. Gauger,movie,Henry V,Henry V,6.7,15
11,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",henryv,tt1261975,nm0044735,"nm0044735,nm0000636",Peter Babakitis,movie,Henry V,Henry V,4.7,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79134,20244619,/m/04_0j2b,Mirage,1972,NaN,82.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/016wzw"": ""Peru""}","{""/m/07s9rl0"": ""Drama"", ""/m/03q4nz"": ""World ci...",mirage,tt2078680,nm4019759,nm4019759,Srdjan Keca,movie,Mirage,Mirage,7.3,16
79142,24209227,/m/07k5mlk,"The Time, the Place and the Girl",1946,NaN,105.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/05p553"": ""Comedy film"", ""/m/02l7c8"": ""Rom...",thetimetheplaceandthegirl,tt0020504,nm0107854,"nm0010973,nm0397412,nm0396433,nm0520501,nm0030860",Howard Bretherton,movie,"The Time, the Place and the Girl","The Time, the Place and the Girl",4.7,19
79143,24209227,/m/07k5mlk,"The Time, the Place and the Girl",1946,NaN,105.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/05p553"": ""Comedy film"", ""/m/02l7c8"": ""Rom...",thetimetheplaceandthegirl,tt0039038,nm0124877,"nm0841702,nm0426515,nm0823395,nm0497738",David Butler,movie,"The Time, the Place and the Girl","The Time, the Place and the Girl",5.9,363
79147,23851782,/m/06_vb43,The Ghost Train,1941-05-03,NaN,82.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",theghosttrain,tt0021907,nm0285962,"nm0083742,nm0319148,nm0534191,nm0725965",Walter Forde,movie,The Ghost Train,The Ghost Train,6.0,80
79148,23851782,/m/06_vb43,The Ghost Train,1941-05-03,NaN,82.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",theghosttrain,tt0033660,nm0285962,"nm0725965,nm0651357,nm0346436,nm0249218",Walter Forde,movie,The Ghost Train,The Ghost Train,6.1,1716

In [36]:
final_merge['Wikipedia movie ID'].is_unique

False

In [37]:
final_merge[final_merge['Movie_name']=='mylove']

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Movie_name,IMDb title ID,IMDb director ID,IMDb writers ID,Name of the director,Type,Primary title,Original title,averageRating,numVotes
49993,20579775,/m/05221zt,My Love,NaN,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/02l7c8"": ""Romance Film""}",mylove,tt0361936,nm0837729,nm0707274,S. Sukhdev,movie,My Love,My Love,6.9,34
57645,20714148,/m/05219k3,My Love,2007-12-18,6660413.0,111.0,{},"{""/m/06qd3"": ""South Korea""}","{""/m/02l7c8"": ""Romance Film"", ""/m/01z4y"": ""Com...",mylove,tt0361936,nm0837729,nm0707274,S. Sukhdev,movie,My Love,My Love,6.9,34
79149,12095128,/m/02vppbd,My Love,NaN,NaN,26.0,"{""/m/06b_j"": ""Russian Language""}","{""/m/06bnz"": ""Russia""}","{""/m/02hmvc"": ""Short Film""}",mylove,tt0361936,nm0837729,nm0707274,S. Sukhdev,movie,My Love,My Love,6.9,34

In [41]:
copy[copy['Movie_name']=='mylove']

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Movie_name
51647,20579775,/m/05221zt,My Love,NaN,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/02l7c8"": ""Romance Film""}",mylove
59623,20714148,/m/05219k3,My Love,2007-12-18,6660413.0,111.0,{},"{""/m/06qd3"": ""South Korea""}","{""/m/02l7c8"": ""Romance Film"", ""/m/01z4y"": ""Com...",mylove
81734,12095128,/m/02vppbd,My Love,NaN,NaN,26.0,"{""/m/06b_j"": ""Russian Language""}","{""/m/06bnz"": ""Russia""}","{""/m/02hmvc"": ""Short Film""}",mylove